@font-face {
  font-family: 'BasisGrotesque';
  src: url('https://static.tildacdn.com/tild3735-6263-4231-a434-393765616563/BasisGrotesquePro-Re.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
